$bg-color:#cad3d3;
$blue-color:#2196f7;
$pink-color:#d74498;
$green-color:#32ad1e;
$text-color:#5f727f;
$gray-color:#f4f6f7;
$new-color:#2c2e3d;
$gray-lighter-color:#99a9b5;
$light-color:#f4f6f7;

$font-sourceSansPro: 'Source Sans Pro', sans-serif;
@mixin sourceSansPro4 {
    font: {
        family: $font-sourceSansPro;
        weight: 400;
    }
}

@mixin sourceSansPro3 {
    font: {
        family: $font-sourceSansPro;
        weight: 300;
    }
}

@mixin sourceSansPro2 {
    font: {
        family: $font-sourceSansPro;
        weight: 200;
    }
}
@mixin sourceSansPro {
    font: {
        family: $font-sourceSansPro;
    }
}